@media (max-width: 1023px) {
		.mobileScreen{
			display:block;
		}
		.desktopScreen{
			display:none;
		}
    
    .header {
        width: 100%;
        height: 200px;
        background-color: orange;
    }