/*FONTS ---------------------------------------------------------------------------------*/

@font-face {
  font-family: "Avenir-Medium";
  src: url(./Font/Avenir/avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "Avenir-Black";
  src: url(./Font/Avenir/avenir/Avenir-Black.ttf);
}

@font-face {
  font-family: "Avenir-Light";
  src: url(./Font/Avenir/avenir/Avenir-Light.ttf);
}

/*MEDIA ------------------------------------------------------------------------------*/

@media (min-width: 1023px) {


    .mobileScreen {
        display: block;
    }

	.LargeScreenGroup {
		display: block;
	}

	.MediumScreenGroup{
		display: none;
	}

	.SmallScreenGroup{
		display: none;
	}

  .streaming_desktop {
    display: block;
	}

  .streaming_tablet {
    display: none;
	}

  .streaming_mobile {
    display: none;
	}

	.setting_hide_desktop{
	  display: block;
	}

	.setting_hide_mobile{
	  display: none;
	}

	.setting_hide_tablet{
		display: none;
	}

  .upload_global_music_samples_desktop{
    display: block;
  }

  .upload_global_music_samples_mobile{
    display: none;
  }

  .upload_global_music_samples_tablet{
    display: none;
  }

    body {
        background-color: green;
        margin: 0 auto;
        max-width: 100vw;
    }
    .desktopScreen {
        display: none;
    }
    .header {
        margin: 0 auto;
        width: 100%;
        height: 80px;
        background-color: #19313A;
        position: fixed;
        z-index: 9999;
    }
    /*    hamber menu*/
    #hamb {
        right: 260px;
        top: 8px;
        margin: 15px;
        display: inline-block;
        cursor: pointer;
        position: fixed;
        z-index: 9999;
    }
    .bar1,
    .bar2,
    .bar3 {
        border-radius: 200px;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /*
hambuger menu

*/    /*
hambuger menu

*/    /*
hambuger menu

*/


    .genre-tags {
        font-family: Avenir-Medium;
        font-size: 20px;
        margin: 0 auto;
        bottom: 0;
        text-align: center;
        left: 0;
        top: 0;
        width: 280px;
        height: 160px;
        position: absolute;
        color: white;
        line-height: 280px;
		background-color:transparent;
		border: none;
    }

    .m-player {
        vertical-align: middle;
        display: inline-block;
        margin-top: 16px;
        margin-left: 8px;
    }
    #next-button {
        width: 24px;
        height: 24px;
        background-image: url(imgs/next.svg);
        background-repeat: no-repeat;
    }
    #play-button {
        width: 32px;
        height: 32px;
        background-image: url(imgs/play.svg);
        background-repeat: no-repeat;
    }
    #last-button {
        margin-left: 30px;
        width: 24px;
        height: 24px;
        background-image: url(imgs/previous.svg);
        background-repeat: no-repeat;
    }
    .genre-tags:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .m-upload-button {
        width: 55px;
        height: 55px;
        background-size: 35px 35px;
        position: fixed;
        top: 12px;
        right: 140px;
        background-image: url(imgs/uploadicon.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 40px;
		margin-right: 30px;
    }
    .m-upload-button:hover {
        transition: 60ms ease-in-out;
        background-size: 40px 40px;
    }
    .mainpage a {
        color: white;
    }

	.main-header a{
		color: white;
	}


    .main-page {
        margin: 0 auto;
        position: relative;
        left: 0;
        right: 0;
        background-color: transparent;
        width: 80%;
        min-height: 100vh;
    }


    .toggle-logo {
        position: fixed;
        width: 90px;
        height: 90px;
        background-size: 80px 80px;
        top: 25px;
        right: 35px;
        background-image: url(imgs/togglelogo.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .toggle-logo:hover {
        cursor: pointer;
        transition: 60ms ease-in-out;
        background-size: 85px 85px;
    }
    .nav-bar {
        z-index: 9999;
        position: fixed;
        color: white;
        top: 20px;
        left: 100px;

    }



        /*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*/


        #mchat {
        height: 66vh;
        bottom: 0;
        width: 100%;
        position: relative;
        background-color:  white;

    }
    #mform {
        height: auto;
        bottom: 0;
        margin: 0 auto;
        background-color: white;
    }

    form {

        margin: 0 auto;

        position: relative;
    }
	/*
    form input {
        margin: 20px;
        padding: 15px;
        border: .5px solid darkgray;
        width: 90%;
        border-radius: 10px;
    }

    form input [type=text] {
        padding: 1px;
    }

	*/

	#contactForm{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		width:85%;
	}

	.file_upload_button{
    margin: 20px;
    padding: 10px;
    border: 1px solid #cecece;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    height: 70px;
    font-family: Avenir-Light;
	}

  .checkbox {
    margin-left: 20px;
  }


    form button {
        float: right;
        margin: 20px;
        font-family: helvetica;
        font-size: 12px;
        width: 20%;
        background-color: #A53433;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 10px;

    }

    #messages {
        background-color: white;
        position: relative;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #messages li {
        padding: 5px 10px;
    }
    #messages li:nth-child(odd) {
        background: #eee;
    }



/*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*/








    /*    hamburger menu*/
    #hamburger {

        height: 350px;
        width: 250px;
        position: fixed;
        z-index: 9998;
		top: -350px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
        background-color: white;
        right: 8.5%;
        transition: 400ms ease-in-out;

    }
    
    
   
    #hamburger2 {

        height: 350px;
        width: 250px;
        position: fixed;
        z-index: 9998;
		top: -350px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
        background-color: white;
        right: 35.5%;
        transition: 400ms ease-in-out;

    }
    
    
    #categories {
        list-style-image: url(SVG/DDown.svg);
       
    }

    .hamclass {
        margin: 0 auto;
        width: 100%;
        margin-top: 30px;
        font-family: helvetica;
        font-size: 30px;
        left: 0;
        font-family: Avenir-Medium;
    }

    #hambul {
        position: absolute;
        width: 100%;
        list-style: none;
        top: 75px;

    }
   
    #hambul2 {
        position: absolute;
        width: 100%;
        list-style: none;
        top: 75px;

    }

    #hambul a {
        color: black;
        text-decoration: none;
    } 
    
    #hambul2 a {
        color: black;
        text-decoration: none;
    }

    #hambul a:hover {
        color: #a34334;
        transition: color .25s ease-in-out;
    }
#hambul2 a:hover {
        color: #a34334;
        transition: color .25s ease-in-out;
    }

    /*    hamburger menu*/


    nav li {
        font-size: 18px;
        float: left;
        margin-left: 70px;
        font-family: Avenir-Medium;
        list-style: none;

    }
    nav li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .logo-spot {
             width: 150px;
        height: 80px;
        z-index: 9999;
        position: fixed;
        left: 20px;
        top: 0;
        background-image: url(imgs/rawlogo.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .track-player {
        z-index: 9998;
        height: 65px;
        width: 100%;
        position: fixed;
        background-color: #19313A;
        bottom: 0;
    }
    #m-wrench {
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        display: block;
        width: 65px;
        height: 65px;
        right: 50px;
        bottom: 20px;
        z-index: 9999;
        border-radius: 65px;
        background-position: center;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-image: url(imgs/cmenuicon.svg);
    }
    #invisdiv3 {
        height: 80px;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .invisdiv {
        margin: 0 auto;
        position: relative;
        height: 80px;
        width: 100%;
    }
    .invisdiv2 {
        margin: 0 auto;
        position: relative;
        height: 80px;
        width: 100%;
    }
    .row1 {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row2 {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row3 {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row4 {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row5 {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .mood-divs {
        margin: 10px;
        margin-bottom: 50px;
        width: 280px;
        height: 160px;
        position: relative;
    }
    .m-profile-box {
        width: 100%;
        height: 250px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 5px 5px #888888;
    }

	.White_Area_Top{
		width: 100%;
        height: 250px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 5px 5px #888888;
	}

	.Upload_Global_Main_Title{
		width: 100%;
        height: 150px;
        position: relative;
        background-color: white;
        box-shadow: 0px 5px 5px #888888;
	}


  #m-profile-pic-intro {
    box-shadow: 0px 5px 5px #888888;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    float:left;
    top: 8px;
    left: 25px;
    z-index: 9997;
  }

	#Entered_Groups_Profile_Pic {
         box-shadow: 0px 5px 5px #888888;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        top: 20px;
		position: relative;
		float: left;
        left: 25px;
        z-index: 9997;
		background-color:blue;
    }

	#Entered_Top_Container{
		min-width: 720px;
		width: 98%;
		height: 220px;
		margin-top:23px;
		margin-left: 0.5%;
		display: block;
		overflow: hidden;
	}

	#Entered_Top_Info{
		min-width: 250px;
		width: 50%;
		height: 120px;
		margin-left: 50px;
		margin-top: 40px;
		float: left;
	}

	#Entered_Top_Button{
		width: 150px;
		height: 120px;
		margin-left: 50px;
		margin-top: 40px;
		float: right;
	}

    #name {
        font-family: Avenir-Medium;
        margin-top: 50px;
    }

	#Top_Area_Info{
		font-family: Avenir-Medium;
    margin-top: 20px;
    font-size: 13px;
	}

	#Top_Area_Title{
		font-family: Avenir-Medium;
	}

    #view-profile {
        font-family: Avenir-Medium;
        margin-top: -100px;
		font-size: 2em;
		font-weight: bold;

    }

    #mpcat {
        background-color: white;
        min-height: 100vh;
		padding-bottom: 50px;
    }

	#Entered_Add_Music{

	}


    #catalogpage2 {
        height: auto;
        background-color: white;
        display: flex;
         flex-flow: row wrap;
         justify-content: center;

    }

    #m-view-profile-div {
      color: black;
      width: auto;
      height: 100px;
      position: relative;
      margin: -20px 0 0 50px;
      top: 50px;
      z-index: 9996;
      float: left;
    }

    .SongInformation{
      float: left;
      width: 70%;
      height: 125px;
      font-family: Avenir-Medium;
      border-radius: 10px;
      border: 1px solid #ececec;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    }

	#Entered_Groups_TopInfo{
		color: black;
        width: 70%;
        height: 100px;
        position: absolute;
        margin: auto 0;
		margin-left: 5vw;
		top: 30px;
        display: inline-grid;
        z-index: 9996;
		background-color:red;
	}

    .m-settings-box {
        width: 100%;
        height: auto;
        position: relative;
        top: 30px;
    }
    #m-genresh {
        font-family: Avenir-Black;
        font-size: 50px;
        text-align: center;
        position: relative;
        margin: 0 auto;
        padding: 20px;
    }
    #m-message-button {
        margin: 0 0 0 40px;
        padding-left:85px;
        position: relative;
        width: 85%;
        height: 75px;
        background-color: white;
        border-bottom: solid #cbcbcb .50px;
        border-top: solid #cbcbcb .50px;
    }
    #m-notifications-button {
      margin: 0 0 0 40px;
      padding-left:85px;
      position: relative;
      width: 85%;
      height: 75px;
      background-color: white;
      border-bottom: solid #cbcbcb .50px;
      border-top: solid #cbcbcb .50px;
    }
    #m-settings-button {
      margin: 0 0 0 40px;
      padding-left:85px;
      position: relative;
      width: 85%;
      height: 75px;
      background-color: white;
      border-bottom: solid #cbcbcb .50px;
      border-top: solid #cbcbcb .50px;
    }
    #m-signout-box {
      margin: 0 0 0 40px;
      padding-left:85px;
      position: relative;
      width: 85%;
      height: 75px;
      background-color: white;
      border-top: solid #cbcbcb .50px;
      border-bottom: solid #cbcbcb .50px;
    }
    #m-messicon {
        background-image: url(imgs/messagesicon.svg);
    }
    #m-groupicon {
        background-image: url(SVG/Group.svg);
    }
    #m-seticon {
        background-image: url(imgs/settingicon.svg);
    }
    #m-signicon {
        background-image: url(imgs/signouticon.svg)
    }
    .m-sicon {
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15%;
        left: 20px;
    }
    .m-center-text {
        font-family: Avenir-Medium;
        position: relative;
        /*text-align: center;*/
        line-height: 75px;
        cursor: pointer;
    }
    .m-center-text:visited {
      color: black;
    }
    .m-profile-buttons {
        height: 50px;
        bottom: 0px;
        position: absolute;
        background-color: white;
    }
    #m-list-buttons {
        list-style: none;
        width: 100%;
        height: 35px;
        z-index: 9997;
        position: relative;
    }
    #m-list-buttons li {
        font-family: helvetica;
        display: inline-block;
        margin-left: 25px;
        margin-right: 45px;
        font-family: Avenir-Medium;
    }
    #m-list-buttons li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .m-profile-main {
         width: 100%;
        /*height: 100vh;*/
        background-color: white;
        position: absolute;
        top: 275px;
        padding-bottom: 175px;
    }

	.White_Bottom_Area{
		width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 275px;
	}

	.groups_inside_bottom_area{
		width: 100%;
        background-color: white;
        position: absolute;
        padding-bottom: 170px;
		top: 275px
	}

	.upload_page_music_global_white{
		 width: 100%;

        background-color: white;
        position: absolute;
        top: 170px;
	}

	.m-profile-main_white{
		width: 100%;
        height: 1975px;
        background-color: white;
        position: absolute;
        top: 220px;
	}

	.create_group_white_container{
		width: 100%;
    padding-bottom: 150px;
    background-color: white;
    position: absolute;
    padding-bottom: 180px;
	}

    .m-groupdiv-main {
        width: 100%;
        height: auto;
        background-color: white;
        position: absolute;
    }

	.white_background_group_Large{
		width: 100%;
        height: 1300px;
        background-color: white;
        position: absolute;
	}

	.spaceContainerTop p{
		font-size:30px;
		padding-left: 50px;
        font-family: Avenir-Black;

	}

	#CreateGroupsForm{
		height: 1475px !important;
	}

	#upload_page_music_global_white{
		padding-bottom:120px;
	}

	#CreateGroupsForm_white{
		height: 1975px !important;
	}


    #lname {
        color: gray;
        font-size: 12px;
    }
    #fname {
        color: gray;
        font-size: 12px;
    }
    #m-settings-h {
        font-family: Helvetica;
        position: relative;
        margin-left: 30px;
    }
    .m-settings-info {
        font-family: Helvetica;
        position: relative;
        margin-left: 30px;
		font-weight: bold;
		font-size: 30px;
    }

	.setting_title_items{
		font-family: Helvetica;
        margin-left: 30px;
		font-weight: bold;
		font-size: 20px;
	}

    #reladiv {
        width: 100%;
        height: 260px;
        position: relative;
    }
    #m-album-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 30px;
    }
    #m-genre-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 30px;
    }
    .upload-inputs {
        background-color: #ebebeb;
        border-style: none;
    }
    #m-description-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 70px;
    }
    #uldiv {
        margin-top: 20px;
    }
    .upload-head {
        font-family: Helvetica;
        padding-left: 30px;
        margin: 0 auto;
        margin-top: 30px
    }
    #email-input {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width:70%;
        height: 30px;
		padding-left: 20px;
    }

	.email-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 120px;
	}



    #m-reset-button {
        background: rgba(247, 247, 247, 1);
        background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(38%, rgba(247, 247, 247, 1)), color-stop(50%, rgba(251, 251, 251, 1)), color-stop(64%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0);*/
        border-style: none;
        position: absolute;
        left: 35px;
        border-radius: 5px;
        width: 70%;
        height: 35px;
        color: black;
        text-transform: capitalize;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.5);
    }
    .uplbuttons {
        margin-top: 10px;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        font-family: Helvetica;
        margin-left: 30px;
        border: none;
        height: 40px;
        width: 100px;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.5);
    }
    #cancel-up {
        background-color: grey;
    }
    #save-up {
        background-color: #5C9FAD;
    }
    #m-firstname {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
    }
    #m-lastname {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
    }
    #m-save {
        border: none;
        font-size: 18px;
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 40%;
        height: 50px;
        background-color: #5C9FAD;
        color: white;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.50);
    }
    .m-upload-div {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: white;
    }
    #upload-text {
        text-align: center;
        position: absolute;
        height: 200px;
        width: 200px;
        line-height: 200px;
        margin: 0 auto;
    }
    #album-art-div {
        cursor: pointer;
        border-style: dashed;
        border-width: 2px;
        border-color: darkgrey;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        height: 200px;
        width: 200px;
    }
    #m-main-pagesettings {
        height: 100vh;
        background-color: white;
    }

	.m-main-pagesettings_white{
		height: 2500px;
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: white;
	}

    #m-rnb {
        background-image: url(imgs/rnb.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-punk {
        background-image: url(imgs/punk.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-rock {
        background-image: url(imgs/rock.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-pop {
        background-image: url(imgs/pop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-jazz {
        background-image: url(imgs/jazz.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-metal {
        background-image: url(imgs/metal.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-funk {
        background-image: url(imgs/funk.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-edm {
        background-image: url(imgs/edm.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-hiphop {
        background-image: url(imgs/hiphop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-country {
        background-image: url(imgs/country.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-classical {
        background-image: url(imgs/classical.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-guitar {
        background-image: url(imgs/guitar.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-bass {
        background-image: url(imgs/bass.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-drums {
        background-image: url(imgs/drums.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-woodwind {
        background-image: url(imgs/woodwind.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-brass {
        background-image: url(imgs/brass.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-synth {
        background-image: url(imgs/synth.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-pad {
        background-image: url(imgs/pads.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-strings {
        background-image: url(imgs/strings.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-sad {
        background-image: url(imgs/sad.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-happy {
        background-image: url(imgs/happy.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-angry {
        background-image: url(imgs/angry.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-chill {
        background-image: url(imgs/chill.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-focus {
        background-image: url(imgs/focus.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-workout {
        background-image: url(imgs/workout.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-travel {
        background-image: url(imgs/travel.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

	.m-settings-box a{
		text-decoration: none;
		color: black;
	}

	.Profile-sub-container{
		width: 90%;
		height: 200px;

		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
	}

	.spaceContainerTop{
    width: 100%;
    height: 60px;
    margin: 0 0 44px 65px;
	}

	.spaceContainerTop h1 {
		top: 10px;
		position: relative;
    font-family: Avenir-Black;
    font-size: 40px;
	}


	#CreateGroupProfile{
		width: 200px;
		height: 50px;
		border: 2px solid darkgray;
		background-color: #ffffff;
		border-radius: 25px;
		position: absolute;
		top: 30px;
		right: 40px;
		font-family: Avenir-Medium;
		font-size: 18px;
		color: darkgray
	}

	#Entered_Back{
		width: 200px;
		height: 50px;
		border: 2px solid darkgray;
		background-color: white;
		border-radius: 25px;
		position: relative;
		right: 50px;
		font-family: Avenir-Medium;
		font-size: 18px;
		color: darkgray;
	}

	#Entered_Add_Music{
		width: 200px;
		height:50px;
		border: 2px solid darkgray;
		background-color: #ffffff;
		border-radius: 25px;
		position: relative;
		right: 50px;
		top: 20px;
		font-family: Avenir-Medium;
		font-size: 18px;
		color: darkgray
	}

	#BackButtonCreation{
    width: 200px;
    height: 50px;
    border: 2px solid darkgray;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 160px;
    right: 0px;
    margin-right: 96px;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: darkgray;
  }

	.ProfileIconGroups{
		float: left;
		width: 150px;
		height: 150px;
		top: 0;
		bottom: 0;
		margin: auto;
		border: #6b6b6b;
		border-width: 3px;
		border-radius: 100%;
		border-style: dotted;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
	}
	.GroupsInformation{
		float: left;
		width: 70%;
		height: 255px;
		font-family: Avenir-Medium;
		border-radius: 10px;
		border: 1px solid #ececec;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
	}
	.TopSpace-ProfileGroupSub{
		height: 25px;
		width: 100%;

	}

	.vertical-space{
		float: left;
		width: 5%;
		height: 150px;
	}

	.GroupsInformation-Title{
		width: 94%;
		height: 45%;
		left: 0;
		right: 0;
		top: 50px;
		line-height: 150%;
		margin: 10px 0px 0 20px;
		background-color: white;
	}

	.group_container{
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.horizontal-GroupSpace{
		height: 10px;
		width: 100%;

	}

	.GroupsInformation-Description{
		background-color: white;
		height: 70px;
		width: 94%;
		left: 0;
		right: 0;
		margin: 0px 0px 0 20px;
	}

	.GroupsInformation-Title textarea{
		width: 100%;
		height: 60px;
		font-family: Avenir Light;
    font-size: 25px;
		border: 1px solid #f2f2f2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
    margin: 10px 0 0 0;
	}

	#CreateGroupProfileSubmit{
    width: 200px;
    height: 50px;
    border: 2px solid darkgray;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: Avenir-Light;
    font-size: 18px;
    color: darkgray;
	}


	#Create_music_global_upload_button{
		width: 200px;
		height: 50px;
		  border: 2px solid darkgray;
		background-color: #ffffff;
		border-radius: 25px;
		font-family: Avenir-Medium;
        font-size: 18px;
        color: darkgray;
		display: block;
          margin : 0 auto;

	}

	.GroupsInformation-Description textarea{
		width: 99%;
		height: 70px;
        border: none;
		border: 1px solid #f2f2f2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
    font-family: Avenir-Medium;
    margin: 10px 0 0 0;
	}


	#buttonAreaCreate{
		width: 100%;
		height: 50px;
		position: absolute;
		top: 1200px;
	}

	#button_Area_music_upload_create{
		width: 100%;
		height: 50px;
		position: absolute;
		bottom: -50px;
	}

	#buttonAreaCreate_buttonSubmit{
		width: 100%;
		height: 50px;
		position: absolute;
    margin-top: 20px;
	}




	/*Toggle switche for switch between my groups and joined groups*/
	.switch {
	  position: absolute;
	  right: 70px;
	  top:40px;
	  width: 60px;
	  height: 34px;
	}

	.switch input {display:none;}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	.circlePhotoAuto{
		min-width: 100%;
		min-height: 100%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.circlePhotoUploaded{
		width:150px;
		height:150px;
		position: absolute;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.circlePhotoUploadedStreaming{
		width:50px;
		height:50px;
		position: absolute;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.circlePhotoUploadedFeed{
		width:100%;
		height:100%;
    position: absolute;
    z-index: -1;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

	.group_container_create {
			height: 150px;
			left: 0;
			right: 0;
			margin: 10px 25px 10px 50px;
		}

		.group_container_create_streaming{
			height: 90px;
			left: 0;
			right: 0;
		}

		.group_photo_Area {
			width: 150px;
			height: 150px;
			float: left;
			border-radius: 100%;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
			margin-top: -10px;
		}

		.group_photo_Area_Streaming{
			width: 50px;
			height: 50px;
			float: left;
			border-radius: 100%;
			box-shadow: 0px 3px 7px rgba(0, 0, 0, .5);
			margin-top: -5px;
		}

		.circlePhoto_group_Auto {
		border-width: 10px;
		width:100%;
  		height:100%;
		/*position: absolute;*/
  		-webkit-border-radius: 50%;
  		-moz-border-radius: 50%;
  		-ms-border-radius: 50%;
  		-o-border-radius: 50%;
  		border-radius: 50%;
		}

    .circlePhoto_group_song{
      width: 100%;
			height: 100%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
      border-width: 10px;
      border-color: red;
    }

		.vertical_space_group {
			width: 70%;
			height: 115px;
			margin-top: 10px;
			margin-left: 190px;
			border-radius: 15px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
			padding-top: 20px;
		}

		.vertical_space_group_streaming{
			width: 70%;
			height: 70px;
			margin-top: 10px;
			margin-left: 70px;
			border-radius: 15px;
			box-shadow: 0px 2px 7px rgba(0, 0, 0, .5);
			padding-top: 8px;
		}
		.groups_title_generate{
			width: 85%;
			height: 30px;
			margin-left: 15px;
			margin-top: 5px;
			line-height: 30px;
            font-family: Avenir-Medium;

		}

		.groups_title_generate_streaming{
			width: 85%;
			height: 30px;
			margin-left: 15px;
			margin-top: 5px;
			line-height: 20px;
            font-family: Avenir-Medium;
			font-size: 10pt;
		}

		.LeaveButtonGroups{
			float: right;
			top: -120px;
			right: 30px;
			position: relative;
		}

		.LeaveButtonGroups_streaming{
			float: right;
			top: 17px;
			right: 165px;
			position: relative;
		}

		.groups_descrition_generate{
			width: 75%;
			height: 50px;
			margin-left: 15px;
            overflow: auto;
            font-family: Avenir-Light;

		}

		.EnterButtonGroups{
			float: right;
			top: -60px;
			position: relative;
			right: -20px;
		}


    .personfollow{
        height: 60px;

    }
    .follbut{
        float: right;
        margin-top: 20px;
        background-color: white;
        border-radius: 3px;
        font-size: 10px;
        border: 1px solid #a8a8a8;
    }


    .followpic{
        height: 60px;
        width: 60px;
        background-color: aquamarine;
        border-radius: 60px;
        border: 1px solid #e8e8e8;
        position: absolute;

    }
    .followpic2{
        height: 60px;
        width: 60px;
        background-color: aquamarine;
        border: 1px solid #e8e8e8;
        position: absolute;

    }

    .whotofollowdiv {
        margin: 25px;
        width: 200px;
        height: 700px;
    }

    .listeninghdiv {
        margin: 25px;
        width: 200px;
        height: 300px;
    }

	.listeninghdiv_streaming {
        margin: 25px;
        width: 200px;
        height: 700px;
    }

    #follname {
        position:absolute;
        font-size: 12px;
        margin-left: 80px;
        color: #808080;
        font-family: helvetica;
    }

    #follname2{
        position: absolute;
        margin: 28px;
        font-size: 12px;
        margin-left: 80px;
        color: #808080;
        font-family: helvetica;
    }


    .wtftext {
        padding: 5px;
        border-bottom: .5px solid #e8e8e8;
        font-family: helvetica;
        color: #a8a8a8;
        font-weight: 300;
        font-size: 14px;

    }


        .wtftext {
        padding: 5px;
        border-bottom: .5px solid #e8e8e8;
        font-family: helvetica;
        color: #a8a8a8;
        font-weight: 300;
        font-size: 14px;

    }

/*
		Feed Page area Styling
*/
    .feedsidebar{

        float: right;
        border-left: .5px solid #e8e8e8;
        width: 250px;
        height: 100%;
        position: relative;

    }

    .main-songDiv {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
    }


	.main-songDiv_feed {
		width: 100%;
        height: 1200px;
        background-color: #f8f8f8;
        position: absolute;
		padding-bottom: 150px;
	}

    .songpic {
        margin-top: 20px;
         width: 120px;
        height: 120px;
        background-color: aquamarine;
        border-radius: 150px;
        box-shadow: 0px 5px 5px #888888;
        z-index: 9997;
        position: absolute;
    }

    .songpicfade {
      background-color: black;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      opacity: 0;
      position: absolute;
      transition: 0.5s ease;
    }

    .songpic:hover .songpicfade {
      opacity: 0.5
    }

    .first-song {
        left: 0;
        padding-left: 50px;
        width: 40vw;
        height: 120px;
		margin-top: 80px;
    }

	.entered_group_songs {
        left: 0;
        padding-left: 50px;
        width: 40vw;
        height: 120px;
    }

    #FeedSongName {
        margin: 0 auto;
        font-family: Avenir-Medium;
        font-weight: 300;
        font-size: 16px;
        margin-left: 145px;

    }

	.Recently_Uploaded_Title {
    font-family: Avenir-Black;
		width: 500px;
		font-size: 35px;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: -30px;
	}


  .song-buttons {
    margin-top: 0;
    height: 20px;
    width: 500px;
  }

    .song-buttons li {
        float: right;
        font-family: helvetica;
        color: dimgray;
    }

    .song-buttons li:nth-child(1) {
        list-style-image: url('/imgs/likebutton_2.png');

    }
    .song-buttons li:nth-child(2) {
         margin-right: 50px;
        list-style-image: url('/imgs/sharebutton_2.png');
    }

    #FeedArtistsName{
        color: #c5c5c5;
        font-size: 14px;
        margin: 0 auto;
        margin-left: 145px;
        font-family: Avenir-Black;
    }

    .track-display {
        margin: 30px;
        width: 400px;
        height: 60px;
        background-color: #ffffff;
        position: relative;
        left: 27px;
        box-shadow: 2px 2px 10px #888888;
        border-radius: 20px;

    }


	/*Download styling in groups*/
	#DownloadButtonGroups {
		margin-left: 300px;
		margin-top: 60px;
	}


	/*Leave or Join or Enter Groups area*/
	#LeaveJoinButton{
		float:left;
		right: 0;
		bottom: 0;
	}


	/* Styling the NAvigation bar*/
	.TopNavTextButtonStyle{
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		color: white;
		font-size: large;
		font-family: Avenir-Medium;
	}

	.Leave-Butt{
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 75px;
	}

	.Enter-Butt{
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		margin-right: -25px;
		background-color: white;
		width: 75px;
	}

	.join-Butt_streaming{
		border: 1px solid darkgray;
		padding: 8px;
		border-radius: 20px;
		background-color: white;
		width: 55px;
		margin-right: -9px;
	}

	.join-Butt{
		border: 1px solid darkgray;
		padding: 8px;
		border-radius: 20px;
		background-color: white;
		width: 55px;
		margin-right: -9px;
	}


	/* Music player and wave*/

	.music_player {
		height: 350px;
		display: block;
		width: 100%;
		clear: both;
		margin: 10px 10px;
		float: left;
	}

	.groups_indiv_song{
		display: block;
		width: 100%;
		clear: both;
		float: left;
	}

	.first_song_entered{
		left: 0;
		padding-left: 50px;
		width: 40vw;
		height: 120px;
		background-color:red;
	}

	.wave {

		/*height: 10px !important;*/
		display: block;
		width: 300px;
		float: right;
		height:30px;
		margin-right:20px;
		margin-top:5px;
		/*
		margin-top: -30px;
		margin-left: 5.5vw;
		*/
	}

	.btn_play_pause{
		background-color: blue;
		float: left;
		margin-top: -30px;
		margin-left: 50px;
	}

	.play_pause_feed_desktop {
    background: url(SVG/Play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
		border: 1px solid white;
		padding: 10px;
		border-radius: 20px;
		background-color: #a34334;
		width: 30px;
    height: 30px;
    position: absolute;
    margin: 45px 45px 45px 45px;
    transition: 0.2s ease;
    opacity: 1;
        cursor: pointer;
	}

  .songpic:hover .play_pause_feed_desktop {
    opacity: 1;
  }

	.container_musics_feed{
		width: 75%;
	}

	.download_feed_button{
    font-family: Avenir Medium;
    font-size: 10px;
    color: #c5c5c5;
    margin-left: 430px;
    cursor: pointer;
	border: 1px solid darkgray;
	padding: initial;
	border-radius: 20px;
	background-color: white;
	width: 85px;
    height: 30px;
	}

    .download_feed_button a {
        text-decoration: none;
        color: #c5c5c5;


    }

	.pagination a{
		padding: 10px 0px 10px 20px;
		text-decoration: none !important;
		font-size: 30px;

	}

	.pagination{
		margin-top: 70px;
		text-align: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 100px;
		position: absolute;
	}

	.category_form {
		background-color: transparent;
	}

	.group_upload_title_style {
		font-size: 30px;
		font-family: Avenir-Medium;
	}

	.input_buttons_styles_groups_create{
		display: none;
	}

	.input_buttons_styles_groups_create{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 20px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_buttons_styles_groups_create:checked {
		background: #A43433;
		border: 5px solid #E5E5E5;
	}

	.label_groups_music_sample{
		height: 50px;
		width: 200px;
		float: left;
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
    margin-top: 10px;
	}

	.music_sample_label_groups_uploading{
		position: relative;
		top: -5px;
		padding-left: 15px;
    font-family:Avenir-Light;
	}

	.input_checkbox_style_group_create{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 5px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_checkbox_style_group_create:checked {
		background: #A43433;

		border: 5px solid #E5E5E5;
	}

	.categories_label_groups_uploading{
		position: relative;
		top: -10px;
		padding-left: 10px;
		font-size:18px;
    font-family: Avenir-Light;
	}

	.User_Info_display_area{
		width: 90%;
		/*height: 300px;*/
		lefT: 0;
		right: 0;
		margin: 0 auto;
		margin-top: 20px;
	}

	.User_Info_Title_style{
		font-size: 18px;
    font-family: Avenir-Medium;
	}

	.setting_profile_image{
		width: 90%;
		height: 240px;
		position: absolute;
		margin-left: 20px;
	}

	.m-profile-pic-intro_settings {
    box-shadow: 0px 5px 5px #888888;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    margin: 40px 0 0 50px;
    z-index: 9997;
    float: left;
  }

	.m-profile-pic-intro_settings_change_image{
		width: 500px;
        height: 100px;
        border-radius: 100%;
        margin-top: 40px;
        margin-left: 25px;
        z-index: 9997;
		float: left;
	}

  #m-profile-inner{
    min-width: 720px;
    width: 90%;
    height: 200px;
    margin-left: 50px;
    display: block;
  }


	.m-profile-pic-intro_settings_change_image input {
		margin-left: 30px;
	}

	.setting_change_area{
		width: 100%;
		height: 1550px;
		position: absolute;
		margin-left: 20px;

	}

	.m-settings-info_sub_titles{
		font-size: 18px;
		margin-left: 30px;
		font-style: italic;
	}

	.m-settings-info_email_input_area{
		width: 100%;
		height: 50px;
		position: absolute;
	}

	.m-settings-info_password_input_area{
		width: 100%;
		height: 50px;
		position: absolute;

	}

	.m-password-input{
		background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
		padding-left: 20px;
	}

	.m-first_name-input{
		background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
		padding-left: 20px;
	}

	.m-password-input_button{
		width: 180px;
		height: 50px;
		background-color: #ebebeb;
		float: right;
		margin-right: 20px;
		position: relative;
		top: -10px;
	}



	.UploadNewSongAreaTitle{
    float: left;
    width: 70%;
    height: 120px;
    margin-top: 20px;
    font-family: Avenir-Medium;
    border-radius: 10px;
    border: 1px solid #dedede;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
	margin-left: 30px;
	}

	.upload_page_global_titles{
		font-size: 30px;
		font-family: avenir medium;
		font-weight: bold;
		padding-bottom: 15px;
	}

	.upload_global_image_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.image_circle_title_enter{
		float:left;
		margin-top: 20px;
		width: 100%;
		padding-bottom: 20px;
	}

	.upload_global_song_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_radio_button_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_genre_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_moods_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_instruments_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_submit_area{
		float:left;
		margin-top: 50px;
		width: 100%;
		padding-bottom: 20px;
	}

	.label_music_sample_global_upload {
		height: 50px;
		width: 200px;
		float: left;
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
	}

	.input_buttons_styles_music_global{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 20px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_buttons_styles_music_global:checked {
		background: #A43433;
		border: 5px solid #E5E5E5;
	}

	.music_sample_label_music_global_uploading{
		position: relative;
		top: -5px;
		padding-left: 15px;
    font-family: Avenir Medium;
    font-size: 20px;
	}

	.music_global_upload_title_style {
		font-size: 30px;
    font-family: Avenir Medium;
		font-weight: bold;
	}


	.input_checkbox_style_music_global_create{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 5px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_checkbox_style_music_global_create:checked {
		background: #A43433;

		border: 5px solid #E5E5E5;
	}

	.categories_label_music_global_uploading{
		position: relative;
		top: -10px;
		padding-left: 10px;
    font-family: avenir medium;
		font-size:18px;
	}

  .td_style_global {
    padding: 15px;
  }

  .categoryPickedArea_desktop {
         width: 100%;
        background-color: white;
        position: absolute;
        top: 0px;
		padding-bottom: 150px;
		min-height: 100vh;
    }

	.email_area_settings{
		width: 100%;
		height: 100px;
		margin-bottom: 50px;

	}

	.password_area_settings{
		width: 100%;
		height: 125px;
		margin-top: 40px;
	}

	.password-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.first_name_area_settings{
		width: 100%;
		height: 100px;
		margin-bottom: 35px;
		margin-top: 40px;

	}

	.first_name-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.last_name_area_settings{
		width: 100%;
		height: 100px;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.last_name-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.username_area_settings{
		width: 100%;
		height: 100px;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.username_input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.biography_area_settings{
		width: 100%;
		height: 155px;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.biography_pulled{
		font-family: Helvetica;
        margin-left: 30px;
		width: 90%;
	}

	.biography-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.hobbies_area_settings{
		width: 100%;
		height: 120px;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.hobbies_pulled{
		font-family: Helvetica;
    margin-left: 30px;
		width: 90%;
	}

	.hobbies-input_button{
		position: relative;
		bottom: 26px;
		color: black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.skills_area_settings{
		width: 100%;
		height: 120px;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.skills_pulled{
		font-family: Helvetica;
        margin-left: 30px;
		width: 90%;
	}

	.skills-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 150px;
	}

	.settings_white{
		height: 1900px;
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: white;
	}

  .create_group_section_file {
    margin: 25px 0 25px 0;
    height:150px;
    position:relative;
  }

  .create_group_section_tnd {
    margin: 25px 0 25px 0;
    height: 280px;
    position:relative;
  }

  .create_group_section_tnd_AddSongPage {
    margin: 25px 0 25px 0;
    height: 150px;
    position:relative;
  }

  .create_group_section_ss {
    margin: 45px 0 25px 0;
    height: 90px;
    position:relative;
  }

  .create_group_section_cb {
    margin: 25px 0 25px 0;
    height: 150px;
    position:relative;
  }

  .cb_table {
    margin: 20px auto;
  }

  .m-profile-box-introphp{
    width: 100%;
    height: 190px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    padding-top:10px;
  }
  #m-profile-pic-introphp{
    box-shadow: 0px 5px 5px #888888;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    float:left;
    top: 8px;
    left: 25px;
    z-index: 9997;
    margin-left: 40px;
  }
}
