/*FONTS ---------------------------------------------------------------------------------*/

@font-face {
  font-family: "Avenir-Medium";
  src: url(./Font/Avenir/avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "Avenir-Black";
  src: url(./Font/Avenir/avenir/Avenir-Black.ttf);
}

@font-face {
  font-family: "Avenir-Light";
  src: url(./Font/Avenir/avenir/Avenir-Light.ttf);
}

/*MEDIA ------------------------------------------------------------------------------*/

@media (max-width: 1023.9px) {
    .mobileScreen {
        display: block;
    }



	.MediumScreenGroup{
	display: block;
	}

	.SmallScreenGroup{
	display: none;
	}

  .streaming_desktop {
    display: block;
	}
	
	.streaming_desktop {
    display: block;
	}

  .streaming_tablet {
    display: block;
	}

  .streaming_mobile {
    display: none;
	}

  .setting_break_mobile{
	  display: none;
	}

  .setting_hide_desktop{
	  display: none;
	}

	.setting_hide_mobile{
	  display: none;
	}

	.setting_hide_tablet{
		display: block;
	}

  .upload_global_music_samples_desktop{
    display: none;
  }

  .upload_global_music_samples_tablet{
    display: block;
  }

  .upload_global_music_samples_mobile{
    display: none;
  }



    body {
        background-color: pink;
        margin: 0 auto;
        max-width: 100vw;
    }
    .desktopScreen {
        display: none;
    }
    .header {
        margin: 0 auto;
        width: 100%;
        height: 80px;
        background-color: #19313A;
        position: fixed;
        z-index: 9999;
    }
    /*    hamber menu*/

    #hamb {
        right: 190px;
        top: 10px;
        margin: 15px;
        display: inline-block;
        cursor: pointer;
        position: fixed;
        z-index: 9999;
		margin-right: 30px;
    }

    .bar1,
    .bar2,
    .bar3 {
        border-radius: 100px;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {

        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /*
hambuger menu

    */
    #mpcat{
        background-color: white;
        height: 100%;
    }




    .genre-tags {
        font-family: helvetica;
        font-size: 14px;
        margin: 0 auto;
        bottom: 0;
        text-align: center;
        left: 0;
        top: 0;
        width: 180px;
        height: 120px;
        position: absolute;
        color: white;
        line-height: 180px;
		background-color: transparent;
    }
    .m-player {
        vertical-align: middle;
        display: inline-block;
        margin-top: 16px;
        margin-left: 8px;
    }
    #next-button {
        width: 24px;
        height: 24px;
        background-image: url(imgs/next.svg);
        background-repeat: no-repeat;
    }
    #play-button {
        width: 32px;
        height: 32px;
        background-image: url(imgs/play.svg);
        background-repeat: no-repeat;
    }
    #last-button {
        margin-left: 30px;
        width: 24px;
        height: 24px;
        background-image: url(imgs/previous.svg);
        background-repeat: no-repeat;
    }
    .genre-tags:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .m-upload-button {
        width: 55px;
        height: 55px;
        background-size: 35px 35px;
        position: fixed;
        top: 12px;
        right: 142px;
        background-image: url(imgs/uploadicon.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 40px;
    }
    .m-upload-button:hover {
        transition: 60ms ease-in-out;
        background-size: 40px 40px;
    }
    .main-page {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        width: 100%;
        padding-bottom: 50px;
		min-height: 100vh;
    }
   .m-settings-box a {
        color: black;
    }
    .nav-bar a {
        color: white;
    }


    	.group_container{
		width: 90%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}


    .group_container_create {
      height: 150px;
      margin: 0 auto;
      display: table;
		}

    	.group_photo_Area {
			width: 150px;
			height: 150px;
			float: left;
      margin: -18px 0 0 0;
			border-radius: 100%;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
		}

    	.circlePhoto_group_Auto {
			width: 130px;
			height: 130px;
			margin-top: 10px;
			margin-left: 10px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
		}

  	.circlePhotoUploaded{
  		width:100%;
  		height:100%;
  		-webkit-border-radius: 50%;
  		-moz-border-radius: 50%;
  		-ms-border-radius: 50%;
  		-o-border-radius: 50%;
  		border-radius: 50%;'
	}

  	.groups_title_generate{
      width: 85%;
      height: 30px;
      padding: 10px 0px 0px 10px;
      margin-left: 15px;
      margin-top: 5px;
      line-height: 30px;
      font-family: Avenir-Black;
      font-size: 18px;
      overflow: auto;
		}

  	.groups_descrition_generate{
      width: 80%;
      height: 50px;
      padding: 0px 0px 0px 10px;
      margin-left: 15px;
      overflow: auto;
      font-family: Avenir-Light;
		}


  	.spaceContainerTop p{
      font-size:40px;
      padding-left: 50px;
      font-family: Avenir-Black;
  	}

    .toggle-logo {
        position: fixed;
        width: 90px;
        height: 90px;
        background-size: 80px 80px;
        top: 25px;
        right: 35px;
        background-image: url(imgs/togglelogo.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .toggle-logo:hover {
        cursor: pointer;
        transition: 60ms ease-in-out;
        background-size: 85px 85px;
    }


/*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*/


        #mchat {
        height: 66vh;
        bottom: 0;
        width: 100%;
        position: relative;
        background-color:  white;

    }
    #mform {
        height: auto;
        bottom: 0;
        margin: 0 auto;
        background-color: white;
    }

	/*
    form {
        margin: 0 auto;
        position: relative;
        width: 75%;
        height: 0px;
    }
	*/

    .Leave-Butt {
        font-family: Avenir-Light;
        margin: 20px;
        padding: 5px;
        border: .5px solid darkgray;
        width: 60%;
        border-radius: 5px;
        background-color: white;
    }

    .Enter-Butt {
        font-family: Avenir-Light;
        margin: 20px;
        padding: 5px;
        border: .5px solid darkgray;
        width: 71%;
        border-radius: 5px;
        background-color:white;
      }


    form input [type=text] {
        padding: 1px;
    }
    form button {
        float: right;
        margin: 20px;
        font-family: helvetica;
        font-size: 12px;
        width: 20%;
        background-color: #A53433;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 10px;

    }

    #messages {
        background-color: white;
        position: relative;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #messages li {
        padding: 5px 10px;
    }
    #messages li:nth-child(odd) {
        background: #eee;
    }



/*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*//*Chatstyle*/


    .nav-bar {

        z-index: 9999;
        position: fixed;
        color: white;
        font-family: helvetica;
        top: 20px;
        left: 150px;
        margin: 7px;
    }


    /*    hamburger menu*/
    #hamburger {

        height: 350px;
        width: 300px;
        position: fixed;
        z-index: 9998;
        top: -280px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
        background-color: white;
        right: 0;
        transition: 400ms ease-in-out;

    }

    .hamclass {
        margin: 0 auto;
        width: 100%;
        margin-top: 80px;
        font-family: Avenir-Medium;
        font-size: 30px;
        left: 0;

        padding: 10px;
    }

    #hambul {
        position: absolute;
        width: 100%;
        list-style: none;
        top: 20px;

    }

    /*    hamburger menu*/


    nav li {
        font-size: 12px;
        display: inline-block;
        margin-left: 20px;
        font-family: Avenir-Medium;
        font-size: large;
    }
    nav li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .logo-spot {
          width: 150px;
        height: 80px;
        z-index: 9999;
        position: fixed;
        left: 20px;
        top: 0;
        background-image: url(imgs/rawlogo.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .track-player {
        z-index: 9998;
        height: 65px;
        width: 100%;
        position: fixed;
        background-color: #19313A;
        bottom: 0;
    }
    #m-wrench {
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        display: block;
        width: 65px;
        height: 65px;
        right: 50px;
        bottom: 20px;
        z-index: 9999;
        border-radius: 65px;
        background-position: center;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-image: url(imgs/cmenuicon.svg);
    }
    #invisdiv3 {
        height: 80px;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .invisdiv {
        margin: 0 auto;
        position: relative;
        height: 80px;
        width: 100%;
    }
    .invisdiv2 {
        margin: 0 auto;
        position: relative;
        height: 80px;
        width: 100%;
    }
    .row1 {
        margin: 0 auto;
        width: 50%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row2 {
        margin: 0 auto;
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row3 {
        margin: 0 auto;
        width: 50%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row4 {
        margin: 0 auto;
        width: 50%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .row5 {
        margin: 0 auto;
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
    }
    .mood-divs {
        margin: 10px;
        width: 180px;
        height: 120px;
        position: relative;
        display: inline-block;
    }
    .m-profile-box {
        width: 100vw;
        height: 250px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 5px 5px #888888;
    }

    #m-profile-pic-intro {
        box-shadow: 0px 5px 5px #888888;
        background-color: white;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        top: 20%;
        left: 25px;
        z-index: 9997;
		margin-left: 20px;
    }

    #name {
        position: relative;
        font-family: Avenir-Medium;
    }

    #view-profile {
        font-family: Avenir-medium;
        margin-top: -100px;
    }

    #m-view-profile-div {
        color: black;
        width: 40%;
        height: 190px;
        position: relative;
        margin-top: 90px;
        margin-left: 220px;
        /*display: inline-grid;*/
        z-index: 9996;
    }

    .m-settings-box {
        width: 100vw;
        height: auto;
        position: relative;
        top: 30px;
    }

    #m-genresh {
        font-family: Avenir-Black;
        text-align: center;
        position: relative;
        margin: 0 auto;
        padding: 20px;
    }
    #m-message-button {
        margin: 0 auto;
        position: relative;
        width: 100vw;
        height: 75px;
        background-color: white;
        border-bottom: solid #cbcbcb .50px;
        border-top: solid #cbcbcb .50px;
    }
    #m-notifications-button {
        position: relative;
        width: 100vw;
        height: 75px;
        background-color: white;
        border-bottom: solid #cbcbcb .50px;
    }


       #catalogpage2 {

        background-color: white;
        display: flex;
         flex-flow: row wrap;
         justify-content: center;
           height:auto;

    }

    #m-settings-button {
        text-decoration: none;
        color: black;
        position: relative;
        width: 100vw;
        height: 75px;
        background-color: white;
        border-bottom: solid #cbcbcb .50px;
    }
    #m-signout-box {
        position: relative;
        width: 100vw;
        height: 75px;
        background-color: white;
        margin: 0 auto;
        border-top: solid #cbcbcb .50px;
        border-bottom: solid #cbcbcb .50px;
    }
    #m-messicon {
        background-image: url(imgs/messagesicon.svg);
    }
    #m-seticon {
        background-image: url(imgs/settingicon.svg);
    }
    #m-noticon {
        background-image: url(imgs/noticon.svg);
    }
    #m-signicon {
        background-image: url(imgs/signouticon.svg)
    }
    .m-sicon {
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15%;
        left: 20px;
    }
    .m-center-text {
        font-family: Avenir-Medium;
        position: relative;
        text-align: center;
        line-height: 75px;
    }
    .m-profile-buttons {
        width: 100%;
        height: 50px;
        bottom: 0px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 5px 5px #888888;
    }
    #m-list-buttons {
        list-style: none;
        width 100%;
        height: 35px;
        z-index: 9997;
        position: relative;
    }
    #m-list-buttons li {
        font-family: helvetica;
        display: inline-block;
        margin-left: 25px;
        margin-right: 45px;
        font-family: Avenir-Medium;

    }
    #m-list-buttons li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .m-profile-main {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 275px;
    }

    .m-groupdiv-main {
        width: 100vw;
        height: auto;
        background-color: white;
        position: absolute;
    }

    .SongInformation{
      position: relative;
      float: left;
      left: 0px;
      width: 70%;
      font-family: Avenir-Medium;
      border-radius: 10px;
      border: 1px solid #ececec;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    }

    #m-profile-inner{
      min-width: 720px;
      width: 90%;
      height: 200px;
    }


	#m-profile-main-inner{
		width: 100%;
		background-color:white;
		left: 0;
		right: 0;
		margin: auto;
		padding-bottom: 170px;
	}

    #lname {
        color: gray;
        font-size: 12px;
    }
    #fname {
        color: gray;
        font-size: 12px;
    }
    #m-settings-h {
        font-family: Helvetica;
        position: relative;
        margin-left: 30px;
    }
    .m-settings-info {
        font-family: Helvetica;
        position: relative;
        margin-left: 30px;
    }
    #reladiv {
        width: 100%;
        height: 260px;
        position: relative;
    }
    #m-album-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 30px;
    }
    #m-genre-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 30px;
    }
    .upload-inputs {
        background-color: #ebebeb;
        border-style: none;
    }
    #m-description-title {
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 80%;
        height: 70px;
    }
    #uldiv {
        margin-top: 20px;
    }
    .upload-head {
        font-family: Helvetica;
        padding-left: 30px;
        margin: 0 auto;
        margin-top: 30px
    }
    #m-email-input {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
    }
    #m-reset-button {
        background: rgba(247, 247, 247, 1);
        background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(38%, rgba(247, 247, 247, 1)), color-stop(50%, rgba(251, 251, 251, 1)), color-stop(64%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 38%, rgba(251, 251, 251, 1) 50%, rgba(255, 255, 255, 1) 64%, rgba(255, 255, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0);
        border-style: none;
        position: absolute;
        left: 35px;
        border-radius: 5px;
        width: 70%;
        height: 35px;
        color: black;
        text-transform: capitalize;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.50);
    }
    .uplbuttons {
        margin-top: 10px;
        border-radius: 5px;
        font-size: 18px;
        color: white;
        font-family: Helvetica;
        margin-left: 30px;
        border: none;
        height: 40px;
        width: 100px;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.50);
    }
    #cancel-up {
        background-color: grey;
    }
    #save-up {
        background-color: #5C9FAD;
    }
    #m-firstname {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
    }
    #m-lastname {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width: 70%;
        height: 30px;
    }
    #m-save {
        border: none;
        font-size: 18px;
        position: relative;
        left: 30px;
        border-radius: 5px;
        width: 40%;
        height: 50px;
        background-color: #5C9FAD;
        color: white;
        box-shadow: 0px 7px 8px -3px rgba(0, 0, 0, 0.50);
    }
    .m-upload-div {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: white;
    }
    #upload-text {
        text-align: center;
        position: absolute;
        height: 200px;
        width: 200px;
        line-height: 200px;
        margin: 0 auto;
    }
    #album-art-div {
        cursor: pointer;
        border-style: dashed;
        border-width: 2px;
        border-color: darkgrey;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        height: 200px;
        width: 200px;
    }
    #m-main-pagesettings {
        background-color: white;
    }
    #m-rnb {
        background-image: url(imgs/rnb.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-punk {
        background-image: url(imgs/punk.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-rock {
        background-image: url(imgs/rock.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-pop {
        background-image: url(imgs/pop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-jazz {
        background-image: url(imgs/jazz.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-metal {
        background-image: url(imgs/metal.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-funk {
        background-image: url(imgs/funk.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-edm {
        background-image: url(imgs/edm.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-hiphop {
        background-image: url(imgs/hiphop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-country {
        background-image: url(imgs/country.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-classical {
        background-image: url(imgs/classical.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-guitar {
        background-image: url(imgs/guitar.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-bass {
        background-image: url(imgs/bass.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-drums {
        background-image: url(imgs/drums.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-woodwind {
        background-image: url(imgs/woodwind.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-brass {
        background-image: url(imgs/brass.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-synth {
        background-image: url(imgs/synth.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-pad {
        background-image: url(imgs/pads.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-strings {
        background-image: url(imgs/strings.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-sad {
        background-image: url(imgs/sad.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-happy {
        background-image: url(imgs/happy.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-angry {
        background-image: url(imgs/angry.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-chill {
        background-image: url(imgs/chill.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-focus {
        background-image: url(imgs/focus.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-workout {
        background-image: url(imgs/workout.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #m-travel {
        background-image: url(imgs/travel.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
/*  groups page css start*/

    .Profile-sub-container{
		width: 98%;
		padding: 20px;
		height: 2690px;
		background-color: white;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
	}

    .LeaveButtonGroups{
			float: right;
			top: -115px;
			right: 10px;
			position: relative;

		}

    	.EnterButtonGroups{
			float: right;
			top: -60px;
			position: relative;
			right: -68px;
		}



	.spaceContainerTop{
		width: 100%;
		height: 60px;
		margin-top: 40px;
	}

	.spaceContainerTop h1 {
    left: 35px;
    top: 20px;
    position: absolute;
    font-family: avenir-medium;
    font-size: 50px;
    margin: 15px;
	}


	#CreateGroupProfile{
    width: 200px;
    height: 50px;
    border: 2px solid darkgray;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    top: -40px;
    left: 70%;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: darkgray;
	}

	.ProfileIconGroups{
		float: left;
		width: 150px;
		height: 150px;
		top: 0;
		bottom: 0;
		border: #6b6b6b;
		border-width: 2px;
		border-radius: 100%;
		border-style: dashed;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);

	}
	.GroupsInformation{
		float: left;
		width: 70%;
		height: 250px;
		font-family: Avenir-Medium;
		border-radius: 10px;
		border: 1px solid #ececec;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);


	}
	.TopSpace-ProfileGroupSub{
		height: 55px;
		width: 100%;
    display: none;
	}

	.vertical-space{
		float: left;
		width: 5%;
		height: 150px;
	}


  .vertical_space_group {
    width: 520px;
    height: 115px;
    margin-left: 190px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
  }

	.GroupsInformation-Title{
    width: auto;
    height: auto;
    background-color: white;
    margin: 20px 20px 20px 20px;
    font-family: avenir medium;
    font-size: 20px;
	}

	.horizontal-GroupSpace{
    display:none;


	}

	.GroupsInformation-Description{
		background-color: white;
		height: 75px;

	}

	.GroupsInformation-Title textarea{
    width: 100%;
    height: 50px;
    border: 1px solid #E5E5E5;
    margin: 5px 0 0 0;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: avenir light;
    font-size: 25px;
	}

  .create_group_section_tnd_AddSongPage {
    margin: 25px 0 25px 0;
    height: 150px;
    position:relative;
  }

  .upload_page_global_titles {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    margin: 15px 0 0 0;
    font-family: avenir medium;
    font-weight: bold;
    font-size: 30px;
  }

	.categories_label_music_global_uploading{
		position: relative;
		top: -10px;
		padding-left: 10px;
		padding-right: 0px;
    font-family: avenir medium;
		font-size:15px;
	}

	#CreateGroupProfileSubmit{
    width: 200px;
    height: 50px;
    border: 2px solid darkgray;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: Avenir-Light;
    font-size: 18px;
    color: darkgray;
	}
	.GroupsInformation-Description textarea{
		width: 94%;
		height: 45px;
        border: 1px solid #E5E5E5;
		margin-left: 20px;
	}

	.description_groups_create_text{
		padding-left: 20px;
	}

	#buttonAreaCreate{
		width: 100%;
		height: 50px;
		position: absolute;
		top: 300px;
	}

	/*
	input{
		margin-top: 30px;
	}
	*/

	.M_group_container_create{
		height: 150px;
		left: 0;
		right: 0;
		margin: 10px 25px 10px 50px;
	}

	.M_vertical_space_group{
		width: 70%;
			height: 115px;
			margin-top: 10px;
			margin-left: 190px;
			border-radius: 15px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
	}

	.M_Leave-Butt{
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 15px;
		background-color: white;
		width: 75px;
	}

	.M_Enter-Butt{
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 15px;
		margin-right: 4px;
		background-color: white;
		width: 75px;
	}

	.M_join-Butt{
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 15px;
		margin-right: -6px;
		background-color: white;
		width: 75px;
	}


/*  groups page css  end*/

/* ------------------ Streaming.php Styling ------------------*/

  .main-songDiv_feed {
	  width: 100%;
      padding-bottom: 180px;
      background-color: #f8f8f8;
      min-height: 100vh;
	  padding-top: 20px;
  }

/* ------------------ Page Title */
  .Recently_Uploaded_Title {
    font-family: Avenir Black;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 45px;
  }


  .track-display {
      margin: 10px 0 0 100px;
      width: 400px;
      height: 80px;
      position: relative;
	  background-color: #ffffff;
      left: 40px;
      box-shadow: 2px 2px 10px #888888;
      border-radius: 45px;
  }

  .songpic {
      margin-top: 40px;
      width: 200px;
      height: 200px;
      background-color: aquamarine;
      border-radius: 150px;
      box-shadow: 0px 5px 5px #888888;
      z-index: 9997;
      position: absolute;
  }

  .first-song {
      left: 0;
      /*padding-left: 50px;*/
      width: 600px;
      margin-top: 15px;
	  right: 0;
	  margin: 0 auto;
  }


  .circlePhotoUploadedFeed{
		width:100%;
		height:100%;
    position: absolute;
    z-index: -1;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
	}

  #FeedArtistsName{
      color: #c5c5c5;
      font-family: Avenir Black;
      font-size: 18px;
      margin: 0 auto;
      margin-left: 230px;
      width: 350px;
  }

    #FeedSongName {
        margin: 0 auto;
        font-family: Avenir Medium;
        font-weight: 300;
        font-size: 20px;
        margin-left: 230px;

    }

    .download_feed_button{
      font-family: Avenir Medium;
      font-size: 24px;
      color: #c5c5c5;
      margin: 10px 0 0px 0px;
      border: 1px solid darkgray;
      padding: initial;
      border-radius: 20px;
      background-color: white;
      width: 155px;
      height: 50px;
      margin-left: 60%;
      top: 15px;
      position: relative;
    }

    /* ------------------ Music Player ------------------*/

    .music_player {
  		height: 350px;
  		display: block;
  		width: 100%;
  		clear: both;
  		margin: 10px 10px;
  		float: left;
  	}

  	.wave {
  		/*height: 10px !important;*/
  		display: block;
  		width: 300px;
  		float: right;
		height: 30px;
  		margin-right: 20px;
  		margin-top: 15px;
  	}

  	.btn_play_pause{
  		background-color: blue;
  		float: left;
  		margin-top: -30px;
  		margin-left: 50px;
  	}

    .play_pause_feed{
      background: url(SVG/Play.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      border: 1px solid white;
      padding: 10px;
      border-radius: 20px;
      background-color: #a34334;
      width: 40px;
      height: 40px;
      position: absolute;
      margin: 80px;
      /*margin-top: -50px;
      margin-left: 20px;*/
    }


    /* ------------------ END of Music Player ------------------*/

/* ------------------ END OF Streaming.php Styling ------------------*/


	.white_background_group_Large{
		width: 100%;
        background-color: white;
        position: absolute;
        padding-bottom: 150px;
	}

	.pagination a{
		padding: 10px 0px 10px 20px;
		text-decoration: none !important;
		font-size: 30px;

	}

	.pagination{
		margin-top: 70px;
		text-align: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 100px;
		position: absolute;
	}

	.play_pause_feed_tablet {
    background: url(SVG/Play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
		border: 1px solid white;
		padding: 10px;
		border-radius: 30px;
		background-color: #a34334;
		width: 50px;
    height: 50px;
    position: absolute;
    margin: 75px;
		/*margin-top: -50px;
		margin-left: 20px;*/
	}

	.group_upload_title_style {
		font-size: 25px;
		font-weight: bold;
    font-family: Avenir-Medium;
	}

	.file_upload_button{
    margin: 20px;
    padding: 10px;
    border: 1px solid darkgray;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    height: 70px;
    font-family: Avenir Light;
	}

	.label_groups_music_sample{
		height: 50px;
		width: 200px;
		float: left;
		display: inline-block;
		vertical-align: middle;
		font-size: 23px;
	}

  .input_buttons_styles_music_global{
    -webkit-appearance: none;
    background-color: #E5E5E5;
    border: 5px solid #E5E5E5;
    border-radius: 20px;
    width: 100%;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .input_buttons_styles_music_global:checked {
    background: #A43433;
    border: 5px solid #E5E5E5;
    outline:none;
  }

  .music_sample_label_music_global_uploading{
    position: relative;
    top: -5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Avenir Light;
    font-size: 20px;
  }

  .music_global_upload_title_style {
    font-family: Avenir;
    font-size: 30px;
    font-weight: bold;
  }

	.input_buttons_styles_groups_create{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 20px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_buttons_styles_groups_create:checked {
		background: #A43433;
		border: 5px solid #E5E5E5;
	}

	.music_sample_label_groups_uploading{
		position: relative;
		top: -6px;
		padding-left: 15px;
    font-family: Avenir-Light;

	}

	.categories_label_groups_uploading{
		position: relative;
		top: -10px;
		padding-left: 10px;
    font-family: Avenir-Light;
		font-size: 18px;
	}

  .input_checkbox_style_music_global_create{
    -webkit-appearance: none;
    background-color: #E5E5E5;
    border: 5px solid #E5E5E5;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    outline: none;
  }

  .input_checkbox_style_music_global_create:checked {
    background: #A43433;
    border: 5px solid #E5E5E5;
    border-radius: 10px;
    outline: none;
  }

	.input_checkbox_style_group_create{
		-webkit-appearance: none;
		background-color: #E5E5E5;
		border: 5px solid #E5E5E5;
		border-radius: 5px;
		width: 100%;
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.input_checkbox_style_group_create:checked {
		background: #A43433;

		border: 5px solid #E5E5E5;
	}

  #buttonAreaCreate_buttonSubmit{
    width: 80%;
    height: 50px;
    position: absolute;
    margin-top: 20px;
  }

  #Create_music_global_upload_button{
    width: 200px;
    height: 50px;
      border: 2px solid darkgray;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    left: 35%;
    right: 65%;
    margin: 0 auto;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: darkgray;
    bottom: 0;
	margin-top: 45px;
  }

	.m-profile-pic-intro_settings {
        box-shadow: 0px 5px 5px #888888;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-top: 20px;
        margin-left: 25px;
        z-index: 9997;
		float: left;
    }

	.picture_settings {
        box-shadow: 0px 5px 5px #888888;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin-top: 20px;
        margin-left: 25px;
        z-index: 9997;
		float: left;
    }

	.m-main-pagesettings_white{
		height: 2500px;
		width: 99%;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: white;
	}

	.m-profile-pic-intro_settings_change_image{
		width: 500px;
        height: 100px;
        border-radius: 100%;
        margin-top: 40px;
        margin-left: 25px;
        z-index: 9997;
		float: left;
	}

	.m-settings-info_Email_Area{
		width: 100%;
		height: 1550px;
		position: absolute;
		margin-left: 20px;
	}

	.m-profile-pic-intro_settings_change_image input {
		margin-left: 30px;
	}

	.m-settings-info{
		font-family: Helvetica;
        position: relative;
        margin-left: 15px;
		font-weight: bold;
		font-size: 25px;
	}

	.setting_changephoto_text{
		font-family: Helvetica;
        position: relative;
        margin-left: 15px;
		font-weight: bold;
		font-size: 25px;
	}

	.m-settings-info_sub_titles{
		font-size: 25px;
		margin-left: 15px;
	}

	.m-settings-info_email_input_area{
		width: 100%;
		height: 75px;
		position: absolute;
		background-color:blue;
	}

	#m-email-input{
		background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 15px;
        border-radius: 5px;
        width: 71%;
        height: 30px;
		padding-left: 20px;
		bottom: 10px;
	}

	.m-email-input_button{
		width: 120px;
		height: 50px;
		background-color: #ebebeb;
		float: right;
		margin-right: 40px;
		position: relative;
	}

	.m-password-input{
		background-color: #ebebeb;
        border-style: none;
        left: 15px;
        border-radius: 5px;
        width: 60%;
        height: 30px;
		padding-left: 20px;
		position: relative;
		bottom: 15px;
	}

	.password_settings{
		background-color: #ebebeb;
        border-style: none;
        left: 15px;
        border-radius: 5px;
        width: 60%;
        height: 30px;
		padding-left: 20px;
		position: relative;
		margin-top: 5px;
	}

	.m-password-input_button{
		width: 180px;
		height: 50px;
		background-color: #ebebeb;
		float: right;
		margin-right: 40px;
		position: relative;
	}

	.m-first_name-input{
		background-color: #ebebeb;
        border-style: none;
        position: relative;
		bottom: 15px;
        left: 15px;
        border-radius: 5px;
        width: 60%;
        height: 30px;
		padding-left: 20px;
	}

	.m-first_name-input_button{
		width: 180px;
		height: 50px;
		background-color: #ebebeb;
		float: right;
		margin-right: 40px;
		position: relative;
	}

  .UploadNewSongAreaTitle{
    float: left;
    width: 70%;
    height: auto;
    font-family: Avenir-Medium;
    border-radius: 10px;
    border: 1px solid #dedede;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
  }

	#BackButtonCreation{
		width: 200px;
		height: 50px;
		border: 2px solid darkgray;
		background-color: #ffffff;
		border-radius: 25px;
		position: absolute;
		top: 170px;
		right: 50px;
		font-family: Avenir-Medium;
		font-size: 18px;
		color: darkgray;
    margin: 0 0 0 0;
	}

	.settings_white{
		height: 1900px;
		width: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: white;
	}

	.setting_change_area{
		width: 100%;
		height: 1550px;
		position: absolute;
		margin-left: 20px;
	}

	.email_area_settings{
		width: 100%;
		height: 150px;
		margin-bottom: 15px;
	}

	.setting_title_items{
		font-family: Helvetica;
        margin-left: 30px;
		font-weight: bold;
		font-size: 20px;
	}

	.m-settings-info_sub_titles{
		font-size: 18px;
		margin-left: 30px;
		font-style: italic;
	}

	.m-settings-info_email_input_area{
		width: 100%;
		height: 50px;
		position: absolute;
	}

	.email_input_area_settings {
		width: 100%;
		height: 50px;
		position: absolute;
		margin-top:5px;
	}

	#email-input {
        background-color: #ebebeb;
        border-style: none;
        position: absolute;
        left: 30px;
        border-radius: 5px;
        width:70%;
        height: 30px;
		padding-left: 20px;
    }

	.email-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 120px;
		margin-right: 40px;
	}

	.password_area_settings{
		width: 100%;
		height: 125px;
		margin-top: 40px;
		background-color:blue;
	}

	.m-settings-info_password_input_area{
		width: 100%;
		height: 50px;
		position: absolute;
		background-color:orange;
	}

	.password-input_button{
		position: relative;
		bottom: 26px;
		color:black;
		border: 1px solid darkgray;
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
		background-color: white;
		width: 120px;
		margin-right: 40px;
	}

	.song-buttons{
		padding-top:50px;
	}

	.play_pause_feed_desktop {
     background: url(SVG/Play.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      border: 1px solid white;
      padding: 10px;
      border-radius: 20px;
      background-color: #a34334;
      width: 40px;
      height: 40px;
      position: absolute;
      margin: 80px;

    opacity: 1;
	}

	.Upload_Global_Main_Title{
		width: 100%;
        height: 150px;
        position: relative;
        background-color: white;
        box-shadow: 0px 2px 2px #888888;
	}

	.upload_page_music_global_white{
		width: 100%;
        background-color: white;
        position: absolute;
        top: 170px;
	}

	#contactForm{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		width:85%;
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	.upload_global_image_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;

	}

	.UploadNewSongAreaTitle{
		float: left;
    width: 70%;
    height: 120px;
    margin-top: 20px;
    font-family: Avenir-Medium;
    border-radius: 10px;
    border: 1px solid #dedede;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
	margin-left: 30px;
	}

	.image_circle_title_enter{
		float:left;
		margin-top: 20px;
		width: 100%;
	}

	.upload_global_song_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 20px;
	}

	.upload_global_radio_button_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 30px;
	}

	.upload_global_genre_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 30px;
	}

	.upload_global_moods_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 30px;
	}

	.upload_global_instruments_area{
		float:left;
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #DCDCDC;
		padding-bottom: 30px;
	}

	.streaming{
		margin-top: 50px;
	}


    .create_group_section_file {
      margin: 25px 0 25px 0;
      height:150px;
      position:relative;
    }

    .create_group_section_tnd {
      margin: 25px 0 25px 0;
      height: 280px;
      position:relative;
    }

    .create_group_section_ss {
      margin: 45px 0 25px 0;
      height: 90px;
      position:relative;
    }

    .create_group_section_cb {
      margin: 25px 0 25px 0;
      height: 150px;
      position:relative;
    }

    .cb_table {
      margin: 20px auto;
    }

    #Entered_Back{
  		width: 200px;
  		height: 50px;
  		border: 2px solid darkgray;
  		background-color: white;
  		border-radius: 25px;
  		position: relative;
  		right: 50px;
  		font-family: Avenir-Medium;
  		font-size: 18px;
  		color: darkgray;
  	}

    #Entered_Add_Music{
      width: 200px;
      height:50px;
      border: 2px solid darkgray;
      background-color: #ffffff;
      border-radius: 25px;
      position: relative;
      right: 50px;
      top: 20px;
      font-family: Avenir-Medium;
      font-size: 18px;
      color: darkgray
    }

  	.White_Area_Top{
  		width: 100%;
      height: 250px;
      position: absolute;
      background-color: white;
      box-shadow: 0px 5px 5px #888888;
  	}

    #Entered_Top_Container{
      min-width: 720px;
      width: 90%;
      height: 200px;
      margin-top:23px;
      margin-left: 50px;
      display: block;
      overflow: hidden;
    }

  	.groups_inside_bottom_area{
  		width: 100%;
          background-color: white;
          position: absolute;
          padding-bottom: 150px;
  		top: 275px
  	}

    #Entered_Groups_Profile_Pic {
      box-shadow: 0px 5px 5px #888888;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      top: 20px;
      position: relative;
      float: left;
      left: 25px;
      z-index: 9997;
      background-color: white;
    }

  	#Entered_Top_Button{
  		width: 150px;
  		height: 120px;
  		margin-left: 50px;
  		margin-top: 40px;
  		float: right;
  	}

    #Entered_Top_Info{
  		min-width: 250px;
  		width: 40%;
  		height: 120px;
  		margin-left: 7%;
  		margin-top: 40px;
  		float: left;
  	}

    #Top_Area_Info{
      font-family: Avenir-Medium;
      margin-top: 20px;
    }

    #Top_Area_Title{
      font-family: Avenir-Medium;
    }


}
